$c-white: #FFFFFF;
$c-athens-gray: #F2F3F5;
$c-iron: #DCDDE0;
$c-dove-gray: #666666;
$c-melrose: #B3B9FF;
$c-pickled-bluewood: #2E384D;
$c-amaranth: #E83F5B;
$c-lima: #4CD62B;
$c-royal-blue: #5965E0;
$c-blue-violet: #4953B8;
$c-curious-blue: #2AA9E0;
$c-iron: #D7D8DA;

$c-white: $c-white;
$c-background: $c-athens-gray;
$c-gray-line: $c-iron;
$c-text: $c-dove-gray;
$c-text-highlight: $c-melrose;
$c-title: $c-pickled-bluewood;
$c-red: $c-amaranth;
$c-green: $c-lima;
$c-blue: $c-royal-blue;
$c-blue-dark: $c-blue-violet;
$c-blue-twitter: $c-curious-blue;
$c-border: $c-iron;